[gpg]
	format = ssh
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPRfmNsUvK7kM+S7x/3zvzcJudS1eJJrqtaNnvNmBw+l
	name = Andrew Gower
	email = andrew.gower@oddschecker.com
[commit]
	gpgsign = true
[core]
	editor = nvim
	excludesfile = /Users/Andrew.Gower/.gitignore
	pager = delta --line-numbers --dark
[delta]
	side-by-side = true
[init]
	defaultBranch = master
[alias]
	conflicted = !nvim +Conflicted
  pf = push --force-with-lease
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[push]
	autoSetupRemote = true
